Adjust user authentication for compliance

At the moment, consumers of our web services should provide an `Authorization` header on their request, containing nothing more but the Dicoogle session token. According to [RFC2617](http://www.ietf.org/rfc/rfc2617.txt), this header should actually contain credentials of the form below, for compliance:

>    credentials = auth-scheme #auth-param

Therefore, we should either use this header properly, keep this information in another header, or rely on other mechanisms for this purpose.

Let me refer to the [RFC 7235](https://tools.ietf.org/html/rfc7235) as it obsoletes and updates the RFC 2617.

Also, once we are discussing this matter, we should also address the JWT [RFC 7519](https://www.rfc-editor.org/info/rfc7519).